<section
  id="acerca"
  class="about section container full-lg-screen content-center py-8 px-4 mx-auto lg:grid lg:grid-cols-3 lg:gap-8 lg:justify-between lg:w-full min-h-screen"
>
  <article class="text-lg-right lg:text-right mb-8">
    <aside class="text-center text-lg-right lg:text-right">
      <h1>Mauricio Di Paolo</h1>
      <h5>programador y diseñador <i>web</i></h5>
    </aside>
    <p>
      Allá por el año 2002 he comenzado a incursionar en el área del desarrollo <i>web</i>. Con mucha iniciativa y
      voluntad autodidacta aprovechándome de las bondades de Internet.
    </p>
    <p>
      He trabajado en una tienda de informática creando contenidos orientado al <i>Frontend</i>, pero también hago las
      veces de <i>Backend</i>.
    </p>
    <p>
      Me gusta la maquetación y la interactividad que ofrecen las interfaces
      <i>web</i>, creando código limpio para la optimización, un buen posicionamiento y el rendimiento de los sitios y
      aplicaciones <i>web</i>.
    </p>
    <p>
      También cuento con experiencia en el área de <i>Social Media</i>, <i>Marketing</i> de Contenidos y <i>SEO</i>.
    </p>
    <div class="text-center text-lg-left lg:text-left">
      <a
        class="btn w-52 p-4 inline-block rounded-lg font-bold text-center no-underline text-white bg-amber-500"
        href="https://mfdp10.github.io/portafolio-cv-astro-tailwind/assets/mauricio-di-paolo-cv.pdf"
        target="_blank"
        rel="noopener">DESCARGA MI CV</a
      >
    </div>
  </article>
  <article class="mb-8">
    <img
      class="grayscale rounded-lg"
      src="/portafolio-cv-astro-tailwind/assets/mauricio-di-paolo.jpg"
      alt="Mauricio Di Paolo"
    />
  </article>
  <article>
    <h2 class="text-center text-lg-left lg:text-left">Mis Habilidades</h2>
    <div class="progress my-4 mx-auto">
      <p class="m-0 flex justify-between text-sm">
        <b>Desarrollo <i>Web Frontend</i></b>
        <b>80%</b>
      </p>
      <div class="w-full h-4 mb-4 bg-gray-200 rounded-full dark:bg-gray-500">
        <div
          class="h-4 bg-slate-900 text-xs font-medium text-amber-500 text-center p-0.5 leading-none rounded-full"
          style="width: 80%"
        >
        </div>
      </div>
    </div>
    <div class="progress my-4 mx-auto">
      <p class="m-0 flex justify-between text-sm">
        <b>Diseño <i>Web</i></b>
        <b>80%</b>
      </p>
      <div class="w-full h-4 mb-4 bg-gray-200 rounded-full dark:bg-gray-500">
        <div
          class="h-4 bg-slate-900 text-xs font-medium text-amber-500 text-center p-0.5 leading-none rounded-full"
          style="width: 80%"
        >
        </div>
      </div>
    </div>
    <div class="progress my-4 mx-auto">
      <p class="m-0 flex justify-between text-sm">
        <b><i>WPO</i> y <i>SEO</i></b>
        <b>75%</b>
      </p>
      <div class="w-full h-4 mb-4 bg-gray-200 rounded-full dark:bg-gray-500">
        <div
          class="h-4 bg-slate-900 text-xs font-medium text-amber-500 text-center p-0.5 leading-none rounded-full"
          style="width: 75%"
        >
        </div>
      </div>
    </div>
    <div class="progress my-4 mx-auto">
      <p class="m-0 flex justify-between text-sm">
        <b>Desarrollo <i>Web Backend</i></b>
        <b>70%</b>
      </p>
      <div class="w-full h-4 mb-4 bg-gray-200 rounded-full dark:bg-gray-500">
        <div
          class="h-4 bg-slate-900 text-xs font-medium text-amber-500 text-center p-0.5 leading-none rounded-full"
          style="width: 70%"
        >
        </div>
      </div>
    </div>
    <div class="progress my-4 mx-auto">
      <p class="m-0 flex justify-between text-sm">
        <b><i>Social Media</i> y <i>Marketing</i> de Contenidos</b>
        <b>60%</b>
      </p>
      <div class="w-full h-4 mb-4 bg-gray-200 rounded-full dark:bg-gray-500">
        <div
          class="h-4 bg-slate-900 text-xs font-medium text-amber-500 text-center p-0.5 leading-none rounded-full"
          style="width: 60%"
        >
        </div>
      </div>
    </div>
  </article>
</section>
