<header
  class="fixed left-0 bottom-0 p-4 w-screen z-[999] h-16 bg-slate-900 text-white lg:sticky lg:top-0 lg:p-2 lg:h-14"
>
  <section class="mx-auto max-w-6xl flex justify-between items-center">
    <div class="text-amber-500 font-bold text-3xl no-underline">
      <a href="/portafolio-cv-astro-tailwind">Mauricio Di Paolo</a>
    </div>
    <button
      class="menu-btn outline outline-1 outline-offset-4 outline-amber-500 border-0 w-6 h-6 border-none rounded-sm cursor-pointer bg-slate-900 lg:hidden"
    >
      <svg class="fill-amber-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M4 6H20V8H4zM4 11H20V13H4zM4 16H20V18H4z"></path>
      </svg>
      <svg class="fill-amber-500 hidden" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path
          d="M16.192 6.344L11.949 10.586 7.707 6.344 6.293 7.758 10.535 12 6.293 16.242 7.707 17.656 11.949 13.414 16.192 17.656 17.606 16.242 13.364 12 17.606 7.758z"
        ></path>
      </svg>
    </button>
    <nav
      class="menu flex fixed left-0 bottom-16 w-screen flex-col bg-slate-900 opacity-0 pointer-events-none transition-opacity lg:static lg:w-auto lg:flex-row lg:opacity-100 lg:pointer-events-auto"
    >
      <a
        class="p-4 text-2xl font-bold text-center no-underline text-amber-500 hover:text-white hover:bg-amber-500 transition-colors duration-500 ease-in-out lg:px-4 lg:py-0 lg:hover:bg-transparent"
        href="#inicio">Inicio</a
      >
      <a
        class="p-4 text-2xl font-bold text-center no-underline text-amber-500 hover:text-white hover:bg-amber-500 transition-colors duration-500 ease-in-out lg:px-4 lg:py-0 lg:hover:bg-transparent"
        href="#acerca">Acerca</a
      >
      <a
        class="p-4 text-2xl font-bold text-center no-underline text-amber-500 hover:text-white hover:bg-amber-500 transition-colors duration-500 ease-in-out lg:px-4 lg:py-0 lg:hover:bg-transparent"
        href="#servicios">Servicios</a
      >
      <a
        class="p-4 text-2xl font-bold text-center no-underline text-amber-500 hover:text-white hover:bg-amber-500 transition-colors duration-500 ease-in-out lg:px-4 lg:py-0 lg:hover:bg-transparent"
        href="#trabajos">Trabajos</a
      >
      <a
        class="p-4 text-2xl font-bold text-center no-underline text-amber-500 hover:text-white hover:bg-amber-500 transition-colors duration-500 ease-in-out lg:px-4 lg:py-0 lg:hover:bg-transparent"
        href="#opiniones">Opiniones</a
      >
      <a
        class="p-4 text-2xl font-bold text-center no-underline text-amber-500 hover:text-white hover:bg-amber-500 transition-colors duration-500 ease-in-out lg:px-4 lg:py-0 lg:hover:bg-transparent"
        href="#contacto">Contacto</a
      >
    </nav>
  </section>
</header>
