<section id="inicio" class="home">
  <article
    class="hero-image bg-fixed bg-no-repeat bg-center bg-cover"
    style="background-image: url('/portafolio-cv-astro-tailwind/assets/hero-image-home.jpg');"
  >
    <aside
      class="hero-image-opacity w-screen min-h-screen flex justify-center items-center text-center"
      style="background-color: rgba(0, 0, 0, 0.5)"
    >
      <div class="hero-image-content w-screen min-w-80">
        <h2 class="hero-image-title text-5xl font-bold" style="color: white">Bienvenid@s<br />a mi sitio</h2>
        <a
          href="#contacto"
          class="btn w-52 p-4 inline-block rounded-lg font-bold text-center no-underline text-white bg-amber-500"
          >CONTÁCTAME</a
        >
      </div>
    </aside>
  </article>
</section>
