<section id="trabajos" class="portfolio section py-8 px-4">
  <div class="container full-lg-screen mx-auto grid sm:grid-cols-2 lg:grid-cols-3 lg:w-full">
    <h2 class="section-title sm:col-span-2 lg:col-span-3">Mis Trabajos</h2>
    <a href="#trabajo-1" class="portfolio-card relative w-full my-0 mx-auto block group">
      <img class="w-full object-cover" src="/portafolio-cv-astro-tailwind/assets/portfolio-1.jpg" alt="Trabajo 1" />
      <aside
        class="portfolio-card-info absolute top-0 left-0 w-full h-full p-4 bg-amber-500 opacity-0 text-white pointer-events-none group-hover:opacity-80 hover:pointer-events-auto"
      >
        <div class="p-4 w-full h-full border border-white rounded">
          <h3>Inmobiliaria Zafira</h3>
          <p>
            Inmobiliaria Zafira es una empresa del sector inmobiliario en San Fulgencio, provincia de Alicante. Pone a
            tu disposición servicios de compra, venta y alquiler de inmuebles. Te atenderán en Parque Nervión, 141 SAN
            FULGENCIO, ALICANTE
          </p>
        </div>
      </aside>
    </a>
    <a href="#trabajo-2" class="portfolio-card relative w-full my-0 mx-auto block group">
      <img class="w-full object-cover" src="/portafolio-cv-astro-tailwind/assets/portfolio-2.jpg" alt="Trabajo 2" />
      <aside
        class="portfolio-card-info absolute top-0 left-0 w-full h-full p-4 bg-amber-500 opacity-0 text-white pointer-events-none group-hover:opacity-80 hover:pointer-events-auto"
      >
        <div class="p-4 w-full h-full border border-white rounded">
          <h3>Perfect Properties Spain</h3>
          <p>
            Agentes inmobiliarios ubicados en la Costa Blanca y la Costa Cálida, Perfect Property cubre toda la Costa
            Blanca, tanto el norte como el sur y el Mar Menor. Disponen de todo tipo de inmuebles desde villas nuevas y
            de reventa, adosados ​​y apartamentos, solares y proyectos urbanísticos.
          </p>
        </div>
      </aside>
    </a>
    <a href="#trabajo-3" class="portfolio-card relative w-full my-0 mx-auto block group">
      <img class="w-full object-cover" src="/portafolio-cv-astro-tailwind/assets/portfolio-3.jpg" alt="Trabajo 3" />
      <aside
        class="portfolio-card-info absolute top-0 left-0 w-full h-full p-4 bg-amber-500 opacity-0 text-white pointer-events-none group-hover:opacity-80 hover:pointer-events-auto"
      >
        <div class="p-4 w-full h-full border border-white rounded">
          <h3>Restaurante La Caballería</h3>
          <p>
            La Caballería nace en Mayo del 1999 con la idea de fomentar la cultura y gusto de la cocina tradicional
            argentina en su expresión más sencilla: la carne.
          </p>
        </div>
      </aside>
    </a>
    <a href="#trabajo-4" class="portfolio-card relative w-full my-0 mx-auto block group">
      <img class="w-full object-cover" src="/portafolio-cv-astro-tailwind/assets/portfolio-4.jpg" alt="Trabajo 4" />
      <aside
        class="portfolio-card-info absolute top-0 left-0 w-full h-full p-4 bg-amber-500 opacity-0 text-white pointer-events-none group-hover:opacity-80 hover:pointer-events-auto"
      >
        <div class="p-4 w-full h-full border border-white rounded">
          <h3>AlojaT</h3>
          <p>Sitio diseñado para la gestión de dominios en internet y el alojamiento especializado. Gestión de DNS.</p>
        </div>
      </aside>
    </a>
    <a href="#trabajo-5" class="portfolio-card relative w-full my-0 mx-auto block group">
      <img class="w-full object-cover" src="/portafolio-cv-astro-tailwind/assets/portfolio-5.jpg" alt="Trabajo 5" />
      <aside
        class="portfolio-card-info absolute top-0 left-0 w-full h-full p-4 bg-amber-500 opacity-0 text-white pointer-events-none group-hover:opacity-80 hover:pointer-events-auto"
      >
        <div class="p-4 w-full h-full border border-white rounded">
          <h3>Electrónica y Antenas Negri, SL</h3>
          <p>
            Empresa Instaladora SAT-TDT e I.C.T. 546. Empresa creada en Junio de 1.994 por parte de Juan Carlos
            Puigcerver García y su señora Teresa Aldeguer Hernández debido a su afán emprendedor y de haber estado
            asociado a otras empresas si tener reconocimiento en sus trabajos de su leal saber y entender.
          </p>
        </div>
      </aside>
    </a>
    <a href="#trabajo-6" class="portfolio-card relative w-full my-0 mx-auto block group">
      <img class="w-full object-cover" src="/portafolio-cv-astro-tailwind/assets/portfolio-6.jpg" alt="Trabajo 6" />
      <aside
        class="portfolio-card-info absolute top-0 left-0 w-full h-full p-4 bg-amber-500 opacity-0 text-white pointer-events-none group-hover:opacity-80 hover:pointer-events-auto"
      >
        <div class="p-4 w-full h-full border border-white rounded">
          <h3>Tasks</h3>
          <p>
            Proyecto propio para la gestión de avisos de servicios. Gestión de artículos, categorías, comunidades de
            propietarios, usuarios, clientes, partes de trabajo.
          </p>
        </div>
      </aside>
    </a>
  </div>
</section>
<article
  class="modal fixed z-[999] top-0 right-0 left-0 bottom-0 flex justify-center items-center bg-black bg-opacity-50 opacity-0 pointer-events-none"
  id="trabajo-1"
>
  <div class="modal-content relative">
    <a href="#cerrar" class="modal-close absolute top-4 right-4">
      <svg
        class="w-12 h-12 fill-amber-500"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z M16.207,14.793l-1.414,1.414L12,13.414 l-2.793,2.793l-1.414-1.414L10.586,12L7.793,9.207l1.414-1.414L12,10.586l2.793-2.793l1.414,1.414L13.414,12L16.207,14.793z"
        ></path>
      </svg>
    </a>
    <article class="portfolio-modal p-4 max-w-96 flex flex-col md:max-w-4xl md:flex-row bg-white">
      <img src="/portafolio-cv-astro-tailwind/assets/portfolio-1.jpg" alt="Trabajo 1" />
      <div class="portfolio-info ml-4 self-center">
        <h3 class="border-b-2 border-amber-500 my-4 mx-auto py-2 px-0">Inmobiliaria Zafira</h3>
        <p>
          Inmobiliaria Zafira es una empresa del sector inmobiliario en San Fulgencio, provincia de Alicante. Pone a tu
          disposición servicios de compra, venta y alquiler de inmuebles. Te atenderán en Parque Parque Nervión, 141 SAN
          FULGENCIO, ALICANTE
        </p>
        <aside class="portfolio-details grid grid-cols-[40%_60%] auto-rows-[2rem]">
          <small><b class="text-amber-500">CLIENTE:</b></small>
          <small>Inmobiliaria Zafira</small>
          <small><b class="text-amber-500">FECHA:</b></small>
          <small>24/12/2008</small>
          <small><b class="text-amber-500">TIPO:</b></small>
          <small>Web dinámica</small>
          <small><b class="text-amber-500">ENLACE:</b></small>
          <small
            ><a href="https://www.zafiraspain.com/" target="_blank" rel="noopener">https://www.zafiraspain.com/</a
            ></small
          >
        </aside>
      </div>
    </article>
  </div>
</article>
<article
  class="modal fixed z-[999] top-0 right-0 left-0 bottom-0 flex justify-center items-center bg-black bg-opacity-50 opacity-0 pointer-events-none"
  id="trabajo-2"
>
  <div class="modal-content relative">
    <a href="#cerrar" class="modal-close absolute top-4 right-4">
      <svg
        class="w-12 h-12 fill-amber-500"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z M16.207,14.793l-1.414,1.414L12,13.414 l-2.793,2.793l-1.414-1.414L10.586,12L7.793,9.207l1.414-1.414L12,10.586l2.793-2.793l1.414,1.414L13.414,12L16.207,14.793z"
        ></path>
      </svg>
    </a>
    <article class="portfolio-modal p-4 max-w-96 flex flex-col md:max-w-4xl md:flex-row bg-white">
      <img src="/portafolio-cv-astro-tailwind/assets/portfolio-2.jpg" alt="Trabajo 2" />
      <div class="portfolio-info ml-4 self-center">
        <h3 class="border-b-2 border-amber-500 my-4 mx-auto py-2 px-0">Perfect Properties Spain</h3>
        <p>
          Agentes inmobiliarios ubicados en la Costa Blanca y la Costa Cálida, Perfect Property cubre toda la Costa
          Blanca, tanto el norte como el sur y el Mar Menor. Disponen de todo tipo de inmuebles desde villas nuevas y de
          reventa, adosados ​​y apartamentos, solares y proyectos urbanísticos.
        </p>
        <aside class="portfolio-details grid grid-cols-[40%_60%] auto-rows-[2rem]">
          <small><b class="text-amber-500">CLIENTE:</b></small>
          <small>Perfect Properties Spain</small>
          <small><b class="text-amber-500">FECHA:</b></small>
          <small>24/12/2009</small>
          <small><b class="text-amber-500">TIPO:</b></small>
          <small>Web dinámica con buscador</small>
          <small><b class="text-amber-500">ENLACE:</b></small>
          <small
            ><a href="https://www.perfectpropertyspain.com" target="_blank" rel="noopener"
              >www.perfectpropertyspain.com</a
            ></small
          >
        </aside>
      </div>
    </article>
  </div>
</article>
<article
  class="modal fixed z-[999] top-0 right-0 left-0 bottom-0 flex justify-center items-center bg-black bg-opacity-50 opacity-0 pointer-events-none"
  id="trabajo-3"
>
  <div class="modal-content relative">
    <a href="#cerrar" class="modal-close absolute top-4 right-4">
      <svg
        class="w-12 h-12 fill-amber-500"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z M16.207,14.793l-1.414,1.414L12,13.414 l-2.793,2.793l-1.414-1.414L10.586,12L7.793,9.207l1.414-1.414L12,10.586l2.793-2.793l1.414,1.414L13.414,12L16.207,14.793z"
        ></path>
      </svg>
    </a>
    <article class="portfolio-modal p-4 max-w-96 flex flex-col md:max-w-4xl md:flex-row bg-white">
      <img src="/portafolio-cv-astro-tailwind/assets/portfolio-3.jpg" alt="Trabajo 3" />
      <div class="portfolio-info ml-4 self-center">
        <h3 class="border-b-2 border-amber-500 my-4 mx-auto py-2 px-0">Restaurante La Caballería</h3>
        <p>
          La Caballería nace en Mayo del 1999 con la idea de fomentar la cultura y gusto de la cocina tradicional
          argentina en su expresión más sencilla: la carne.
        </p>
        <aside class="portfolio-details grid grid-cols-[40%_60%] auto-rows-[2rem]">
          <small><b class="text-amber-500">CLIENTE:</b></small>
          <small>La Caballería</small>
          <small><b class="text-amber-500">FECHA:</b></small>
          <small>05/08/2010</small>
          <small><b class="text-amber-500">TIPO:</b></small>
          <small>Web dinámica en ASP</small>
          <small><b class="text-amber-500">ENLACE:</b></small>
          <small
            ><a href="https://www.lacaballeriaguardamar.com" target="_blank" rel="noopener"
              >www.lacaballeriaguardamar.com</a
            ></small
          >
        </aside>
      </div>
    </article>
  </div>
</article>
<article
  class="modal fixed z-[999] top-0 right-0 left-0 bottom-0 flex justify-center items-center bg-black bg-opacity-50 opacity-0 pointer-events-none"
  id="trabajo-4"
>
  <div class="modal-content relative">
    <a href="#cerrar" class="modal-close absolute top-4 right-4">
      <svg
        class="w-12 h-12 fill-amber-500"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z M16.207,14.793l-1.414,1.414L12,13.414 l-2.793,2.793l-1.414-1.414L10.586,12L7.793,9.207l1.414-1.414L12,10.586l2.793-2.793l1.414,1.414L13.414,12L16.207,14.793z"
        ></path>
      </svg>
    </a>
    <article class="portfolio-modal p-4 max-w-96 flex flex-col md:max-w-4xl md:flex-row bg-white">
      <img src="/portafolio-cv-astro-tailwind/assets/portfolio-4.jpg" alt="Trabajo 4" />
      <div class="portfolio-info ml-4 self-center">
        <h3 class="border-b-2 border-amber-500 my-4 mx-auto py-2 px-0">AlojaT</h3>
        <p>Sitio diseñado para la gestión de dominios en internet y el alojamiento especializado. Gestión de DNS.</p>
        <aside class="portfolio-details grid grid-cols-[40%_60%] auto-rows-[2rem]">
          <small><b class="text-amber-500">CLIENTE:</b></small>
          <small>Proyecto propio</small>
          <small><b class="text-amber-500">FECHA:</b></small>
          <small>10/02/2011</small>
          <small><b class="text-amber-500">TIPO:</b></small>
          <small>Web dinámica</small>
          <small><b class="text-amber-500">ENLACE:</b></small>
          <small><a href="https://alojat.com" target="_blank" rel="noopener">https://alojat.com</a></small>
        </aside>
      </div>
    </article>
  </div>
</article>
<article
  class="modal fixed z-[999] top-0 right-0 left-0 bottom-0 flex justify-center items-center bg-black bg-opacity-50 opacity-0 pointer-events-none"
  id="trabajo-5"
>
  <div class="modal-content relative">
    <a href="#cerrar" class="modal-close absolute top-4 right-4">
      <svg
        class="w-12 h-12 fill-amber-500"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z M16.207,14.793l-1.414,1.414L12,13.414 l-2.793,2.793l-1.414-1.414L10.586,12L7.793,9.207l1.414-1.414L12,10.586l2.793-2.793l1.414,1.414L13.414,12L16.207,14.793z"
        ></path>
      </svg>
    </a>
    <article class="portfolio-modal p-4 max-w-96 flex flex-col md:max-w-4xl md:flex-row bg-white">
      <img src="/portafolio-cv-astro-tailwind/assets/portfolio-5.jpg" alt="Trabajo 5" />
      <div class="portfolio-info ml-4 self-center">
        <h3 class="border-b-2 border-amber-500 my-4 mx-auto py-2 px-0">Electrónica y Antenas Negri, SL</h3>
        <p>
          Empresa Instaladora SAT-TDT e I.C.T. 546. Empresa creada en Junio de 1.994 por parte de Juan Carlos Puigcerver
          García y su señora Teresa Aldeguer Hernández debido a su afán emprendedor y de haber estado asociado a otras
          empresas si tener reconocimiento en sus trabajos de su leal saber y entender.
        </p>
        <aside class="portfolio-details grid grid-cols-[40%_60%] auto-rows-[2rem]">
          <small><b class="text-amber-500">CLIENTE:</b></small>
          <small>Electrónica y Antenas Negri, SL</small>
          <small><b class="text-amber-500">FECHA:</b></small>
          <small>21/03/2012</small>
          <small><b class="text-amber-500">TIPO:</b></small>
          <small>Web dinámica + Blog</small>
          <small><b class="text-amber-500">ENLACE:</b></small>
          <small><a href="https://www.negrisl.es" target="_blank" rel="noopener">https://www.negrisl.es</a></small>
        </aside>
      </div>
    </article>
  </div>
</article>
<article
  class="modal fixed z-[999] top-0 right-0 left-0 bottom-0 flex justify-center items-center bg-black bg-opacity-50 opacity-0 pointer-events-none"
  id="trabajo-6"
>
  <div class="modal-content relative">
    <a href="#cerrar" class="modal-close absolute top-4 right-4">
      <svg
        class="w-12 h-12 fill-amber-500"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          d="M12,2C6.486,2,2,6.486,2,12s4.486,10,10,10s10-4.486,10-10S17.514,2,12,2z M16.207,14.793l-1.414,1.414L12,13.414 l-2.793,2.793l-1.414-1.414L10.586,12L7.793,9.207l1.414-1.414L12,10.586l2.793-2.793l1.414,1.414L13.414,12L16.207,14.793z"
        ></path>
      </svg>
    </a>
    <article class="portfolio-modal p-4 max-w-96 flex flex-col md:max-w-4xl md:flex-row bg-white">
      <img src="/portafolio-cv-astro-tailwind/assets/portfolio-6.jpg" alt="Trabajo 6" />
      <div class="portfolio-info ml-4 self-center">
        <h3 class="border-b-2 border-amber-500 my-4 mx-auto py-2 px-0">Tasks</h3>
        <p>
          Proyecto propio para la gestión de avisos de servicios. Gestión de artículos, categorías, comunidades de
          propietarios, usuarios, clientes, partes de trabajo.
        </p>
        <aside class="portfolio-details grid grid-cols-[40%_60%] auto-rows-[2rem]">
          <small><b class="text-amber-500">CLIENTE:</b></small>
          <small>Proyecto propio</small>
          <small><b class="text-amber-500">FECHA:</b></small>
          <small>15/11/2015</small>
          <small><b class="text-amber-500">TIPO:</b></small>
          <small>ASP.NET + MSSQL</small>
          <small><b class="text-amber-500">ENLACE:</b></small>
          <small><a href="https://tasksmanager.es" target="_blank" rel="noopener">https://tasksmanager.es</a></small>
        </aside>
      </div>
    </article>
  </div>
</article>
